page{
  .list-item{
    border: 0;
  }
  .sort{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background: #f4f4f7;
    border-radius: 15px;
    color: #979797;
    View{
      display: flex;
      align-items: center;
    }
  }
}
.grid-list{
  height: 213px;
  margin-bottom: 6px;
  .nut-grid-item-text{
    padding-bottom: 14px;
  }
}
