page{
  padding: 0;
  .node-index{
    background-image: linear-gradient(0deg, #f8f8f800 67%, #FFFFFF 92%);
  }
  .node-index.shi{
    background: #ffffff;
  }
  .list-item{
    border: 0;
    background: #ffffff;
    .img{
      width: 46%;
      height: 100px;
    }
    .text{
      width: 52%;
      .title{
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        .badge{
          color: #FF8214;
          font-size: 10px;
          background: #ff82141a;
          padding: 2px 4px;
          border-radius: 4px;
        }
      }
      .info{
        color: #666666;
        font-size: 12px;
        display: flex;
        align-items: center;
      }
    }
  }
  .sort{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background: #f4f4f7;
    border-radius: 15px;
    color: #979797;
    View{
      display: flex;
      align-items: center;
    }
  }
}
.node-index{
  .grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >View{
      margin-bottom: 10px;
      flex: 0 0 auto;
      width: 49%;
      .img{
        height: 152px;
        border-radius: 10px 10px 0 0;
      }
      .text{
        padding: 10px;
        background: #ffffff;
        border-radius: 0 0 10px 10px;
        .price{
          color: #FF8214;
          font-size: 14px;
        }
      }
    }
  }
}
.grid-list{
  height: 213px;
  margin-bottom: 6px;
  .nut-grid-item-text{
    padding-bottom: 14px;
  }
}
.node-index.yi{
  background: #fdfdfe;
}
