page{
  padding-bottom: 55px;
  font-size: 12px;
}
.card{
  background: #ffffff;
  margin-bottom: 10px;
  .right{
    font-size: 11px;
    color: #808080;
    text-align: center;
    img{
      width: 22px;
      height: 22px;
    }
  }
}
.card-1{
  background: #ffffff;
  border-bottom: 0.5px solid #D8D8D8;
  padding-bottom: 0;
  .title{
    display: inline-block;
    padding: 6px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #808080;
    margin-right: 30px;
  }
  .title.acive{
    font-size: 20px;
    color: #000000;
    border-bottom: 1.5px solid #0FB99F;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .reviews{
    font-size: 16px;
    .count{
      font-size: 14px;
      display: inline;
      color: #979797;
    }
  }
  .title{
    font-size: 25px;
    margin-bottom: 10px;
  }
}
.card .summary{
  color: #468CF8;
  margin: 16px 0;
}
.divider{
  border-bottom: 0.5px solid #D8D8D8;
  margin-bottom: 14px;
}
.contact{
  margin-bottom: 14px;
  display: flex;
  .img{
    width: 91px;
    height: 60px;
    margin-right: 12px;
    Image{
      border-radius: 6px;
      height: 100% !important;
    }
  }
  .name {
    font-size: 18px;
  }
  .phone {
    font-size: 12px;
    color: #979797;
    display: flex;
    align-items: center;
    img{
      width: 17px;
      height: 17px;
      margin-right: 6px;
    }
  }
}
.address{
  color: #808080;
  display: flex;
  justify-content: space-between;
  .text{
    width: 78%;
  }
  padding-bottom: 10px;
}
.info-1{
  font-size: 12px;
  color: #808080;
  padding-bottom: 16px;
  .item{
    display: flex;
    align-items: center;
    margin: 6px 0;
  }
  img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
  }
}
.info-2{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  .item{
    text-align: center;
    color: #3D3D3D;
    font-size: 12px;
    img{
      width: 34px;
      height: 34px;
    }
  }
}
.rooms {
  --nutui-tabs-titles-background-color: #ffffff;
  --nutui-tabs-titles-item-color: #000000;
  --nutui-tabs-titles-item-active-color: #ffffff;
  --nutui-tabs-tab-line-width: 28px;
  --nutui-tabs-tab-line-height: 8px;
  --nutui-tabs-line-border-radius: 4px;
  // --nutui-tabs-tab-line-color: #3e64ff;
  --nutui-tabs-tab-line-color: linear-gradient(90deg, #6195fa80 0%, #6195fa1a 100%);
  --nutui-tabs-line-bottom: 0;
  .nut-tabs-titles-item-text {
    color: #666666;
    font-size: 16px;
  }
  .nut-tabs-titles-item-active .nut-tabs-titles-item-text {
    color: #333333;
    font-weight: 400;
    font-size: 16px;
  }
  .list:last-child{
    border-bottom: none;
  }
  .list{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #D8D8D8;
    .img{
      width: 65px;
      height: 65px;
      position: relative;
      Image{
        border-radius: 4px;
        height: 100%;
      }
      .count{
        background: rgba(0, 0, 0, 0.3);
        padding: 1px 2px;
        border-radius: 5px;
        position: absolute;
        bottom: 4px;
        left: 4px;
        color: rgba(255, 255, 255, 0.9412);
        font-size: 7px;
        img{
          width: 7px;
          height: 7px;
        }
      }
    }
    .info{
      width: 60%;
      overflow: hidden;
    }
    .title{
      font-size: 15px;
      margin-bottom: 4px;
    }
    .summary{
      font-size: 12px;
      color: #808080;
      margin-bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

    }
    .tags{
      color: #0FB99F;
      font-size: 9px;
      display: flex;
      View{
        padding: 1px 2px;
        border: 0.5px solid #0FB99F;
        border-radius: 2px;
        margin-right: 6px;
      }
    }
    .btn-primary{
      background: #0FB99F;
      color: #ffffff;
    }
  }
}
.footer{
  padding: 0 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid #E6E6E6;
  height: 75px;
  .input{
    width: 68%;
    background: #f4f4f7;
    border-radius: 6px;
    padding: 10px;
    color: #787b86;
  }
  .btns{
    width: 20%;
  }
  .left{
    // width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
      width: 24px;
      height: 24px;
    }
    .fav{
      width: 42px;
      text-align: center;
    }
  }
  .right{
    width: 85%;
    .btn-rounded{
      border-radius: 20px;
    }
  }
}
.article-title {
  white-space: normal !important;
}
.body{
  font-size: 14px;
  color: #666666;
}
page .show{
  .reviews .stars{
    position: relative;
    &::after{
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: #000000;
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
      border-radius: 10px;
    }
  }
  .count{
    font-size: 14px;
    line-height: 14px;
    height: 14px;
  }
  padding-bottom: 40px;
  .hero-jing{
    .img{
      position: fixed;
      top: 50px;
      left: 16px;
    }
  }
  .card-jing{
    margin-bottom: 0;
    padding: 32px 16px;
    margin-top: -16px;
    border-radius: 16px;
  }
  .tag{
    margin-right: 6px;
  }
  .tag-blue{
    background: #6f8bff;
    color: #ffffff;
    padding: 4px 6px;
  }
  .hero{
    .widget{
      top: unset;
      left: unset;
      .badge{
        background: #6195FA;
        border-radius: 10px 0 10px 0;
        font-size: 12px;
        padding: 12px 16px;
      }
    }
  }
  .text{
    border-bottom: #e7e7e799 1px solid;
    font-size: 12px;
    padding: 16px 0;
    color: #666666;
    .title{
      display: flex;
      font-size: 18px;
      font-weight: 500;
      align-items: center;
      color: #333333;
      .right{
        font-size: 14px;
      }
      .left{
        display: flex;
        align-items: center;
        .badge{
          color: #FF8214;
          background: #ff82141a;
          font-size: 10px;
          padding: 4px;
          border-radius: 4px;
        }
      }
      .right{
        display: flex;
        align-items: center;
      }
    }
    .info{
      >View{
        margin-top: 6px;
      }
      .location{
        display: flex;
        justify-content: space-between;
        .icon{
          color: #6195FA;
          font-size: 12px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
.show.talk-show{
  .info{
    border-bottom: #f4f4f7 1px solid;
    .like{
      font-size: 18px;
      font-weight: 600;
      color: #fd6b21;
    }
    .date{
      color: #b9bcc3;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
.comments{
  font-size: 16px;
  padding: 20px 0;
  color: #333333;
  .title{
    color: #787b86;
  }
  .item{
    margin: 16px 0;
    .top{
      display: flex;
      justify-content: space-between;
      .user{
        display: flex;
        align-items: center;
        .img{
          border-radius: 50%;
          margin-right: 10px;
        }
      }
      .like{
        display: flex;
        align-items: center;
        .img{
          margin-right: 10px;
        }
      }
    }
    .content{
      padding-left: 55px;
    }
    .body{
      color: #333333;
      margin-bottom: 6px;
    }
    .time{
      color: #b9bcc3;
      font-size: 10px;
    }
  }
}
page .show-2{
  background: #ffffff;
  .title{
    font-size: 22px;
  }
  .card{
    padding: 16px;
  }
  .info{
    .address{
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 14px;
      width: 80%;
      .img{
        padding-top: 4px;
      }
    }
    .nav{
      align-items: flex-start;
    }
  }
  .tag{
    width: 45%;
    text-align: center;
    padding: 10px 32px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      margin-right: 8px;
    }
  }
  .section{
    .title{
      color: #979797;
      font-size: 18px;
    }
  }
  .icons{
    .icon{
      margin: 10px 16px;
      text-align: center;
      font-size: 14px;
    }
  }
}
