page{
  background: #ffffff;
}
.info-1{
  font-size: 12px;
  color: #808080;
  padding-bottom: 16px;
  .item{
    display: flex;
    align-items: center;
    margin: 6px 0;
  }
  img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
  }
}
.title{
  font-size: 22px;
  margin-bottom: 16px;
}
.summary{
  margin-bottom: 16px;
}
.form-item{
  border-top: 0.5px solid #D8D8D8;
  border-radius: 0 !important;
}
.body{
  border: 0.5px solid #D8D8D8;
  border-radius: 4 !important;
}
