page{
  background: #ffffff;
}
.info-1{
  font-size: 12px;
  color: #808080;
  padding-bottom: 16px;
  .item{
    display: flex;
    align-items: center;
    margin: 6px 0;
  }
  img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
  }
}
.title{
  font-size: 22px;
  margin-bottom: 16px;
}
.summary{
  margin-bottom: 16px;
}
.form-item{
  border-top: 0.5px solid #D8D8D8;
  border-radius: 0 !important;
}
.body{
  border: 0.5px solid #D8D8D8;
  border-radius: 4 !important;
}
page .feedback-index{
  .footer{
    border-top: none;
    .btn-primary{
      background: #3e7cf3;
    }
  }
}
page{
  background: #F1F3F4;
  .feedback-new{
    padding-top: 10px;
    background: #F1F3F4;
    font-size: 16px;
    .btn-primary{
      border-radius: 10px;
      width: 90%;
      margin-top: 80px;
    }
    .field{
      margin: 8px 0;
      background: #ffffff;
      padding: 16px;
      .text-title{
        padding-bottom: 16px;
        font-weight: 600;
      }
      .star{
        color: red;
        margin-right: 1px;
      }
      .nut-cell{
        padding: 0;
        border: none;
      }
    }
    .nut-cell-group-wrap{
      background: none;
    }
    .nut-textarea-textarea{
      font-size: 14px !important;
    }
  }
}
