page{
  .nut-tabs-titles{
    display: none;
  }
  .hero{
    height: 260px;
    // background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 16px 16px;
    .text{
      margin-bottom: 22px;
      display: flex;
      color: #ffffff;
      justify-content: space-between;
      align-items: center;
      //transform: translateY(-82px);
      >View{
        width: 30%;
      }
      .title{
        font-weight: bold;
        text-align: center;
      }
      .desc{
        font-size: 14px;
        img{
          margin-right: 4px;
          width: 14px;
          height: 14px;
        }
      }
    }
  }
  .search{
    // margin-top: 200px;
    border-radius: 10px;
    padding: 0;
    background: none;
    .nut-searchbar-icon{
      margin-right: 6px;
      color: #ffffff;
      text{
        height: 14px !important;
        width: 14px !important;
      }
    }
    .nut-searchbar-content{
      width: 345px;
      height: 36px;
      background: #00000033;
      border-radius: 18.5px;
    }
    .nut-searchbar-input{
      color: #ffffff;
    }
  }
  padding-bottom: 10px;
  .home{
    position: relative;
    overflow: hidden;
    .nut-grid-border{
      border: none;
    }
    .grid{
      background: #ffffff;
      // background-image: linear-gradient(180deg, #ffffffdb 15%, #f7f8faf5 64%);
      border-radius: 20px;
      margin-top: -30px;
      position: relative;
      --nutui-grid-item-text-font-size: 14px;
      .nut-grid-item-text{
        margin-top: 3px;
      }
      .nut-grid-item-content{
        padding: 8px;
      }
      .nut-grid-item-content-center{
        background: none;
      }
      .nut-grid-item-content-border{
        border: none;
      }
      .img{
        width: 37px;
        height: 37px;
        padding: 16px 16px 0px;
        background: #ffffff;
        border-radius: 15px;
      }
    }
  }
}
.jingdian{
  border-radius: 7px;
  margin-top: 0;
}
.wrapper{
  Image::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.33;
    background: #000000;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    border-radius: 10px;
  }
}
.zoujin{
  .wrapper{
    display: flex;
    justify-content: space-between;
    height: 163px;
    > View{
      > Image{
        height: 100%;
      }
      width: 49%;
      position: relative;
      .text{
        position: absolute;
        top: 16px;
        left: 16px;
        color: #ffffff;
        font-size: 16px;
        p{
          font-size: 12px;
        }
      }
    }
    .col2{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > View {
        height: 49%;
        position: relative;
        > Image {
          height: 100%;
        }
      }
    }
  }
}
.leyou{
  --nutui-tabs-titles-background-color: #ffffff;
  --nutui-tabs-titles-item-color: #000000;
  --nutui-tabs-titles-item-active-color: #ffffff;
  --nutui-tabs-titles-font-size: 13px;
  --nutui-tabs-tabpane-padding: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  .nut-tabs-titles-item-text {
    background: #F1F2F2;
    border-radius: 50px;
    // padding: 10px !important;
  }
  .nut-tabs-titles-item-active .nut-tabs-titles-item-text {
    background: #0FB99F;
    color: #ffffff;
    border: none;
  }
  Image{
    height: 90px;
  }
  .tabs{
    .tabpane{
      // height: 635px;
    }
  }
}
.slide{
  // height: 500px;
  swiper-item{
    width: 80% !important;
    padding-right: 5px;
    .img{
      border-radius: 12px 12px 0 0;
      height: 150px;
    }
    .text{
      box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 6%);
      background: #ffffff;
      font-size: 17px;
      padding: 14px;
      border-radius: 0 0 12px 12px;
      .title{
        margin-bottom: 5px;
      }
      .summary{
        font-size: 12px;
        color: #808080;
      }
    }
  }
}
.list-item{
  .img{
    height: 80px;
  }
}
.tags{
  // padding: 14px;
  display: flex;
  justify-content: flex-start;
  font-size: 10px;
  color: #ffffff;
  .tag{
    background: #8fadff;
    border-radius: 3px;
    margin-right: 4px;
    padding: 3px 6px;
    border: 0;
  }
}
.widget{
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.slide{
  .text{
    position: relative;
  }
  .plus{
    position: absolute;
    top: -20px;
    right: 16px;
  }
}
