.info-2{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  .item{
    text-align: center;
    color: #3D3D3D;
    font-size: 12px;
    img{
      width: 34px;
      height: 34px;
    }
  }
}
.info{
  .icon{
    width: 16px;
    height: 16px;
  }
}
page{
  --nutui-actionsheet-item-border-bottom: none;
  .nut-actionsheet .nut-popup-title{
    border-bottom: none;
  }
}
