.block{
  background: none;
  padding: 0;
  img{
    margin-left: 0 !important;
    margin-right: 6px;
    width: 26px;
    height: 26px;
  }
}
.slide{
  // height: 500px;
  .slide-item{
    width: 44% !important;
    padding-right: 5px;
    .img{
      border-radius: 12px 12px 0 0;
    }
    .text{
      background: #ffffff;
      font-size: 17px;
      padding: 14px;
      border-radius: 0 0 12px 12px;
      .title{
        margin-bottom: 5px;
      }
      .summary{
        font-size: 12px;
        color: #808080;
      }
    }
  }
}
.call{
  display: flex !important;
  align-items: center;
}
.text{
  // display: flex !important;
  // flex-direction: column;
  // justify-content: space-between;
  padding-bottom: 5px;
  .badge{
    background: #0FB99F;
    color: #ffffff;
    padding: 1.2px 6px;
    border-radius: 4px;
    font-size: 11px;
  }
}
.zhuzai .list{
  background: #ffffff;
}
