page .discover-index{
  .nut-grid-item-content{
    border: none;
  }
  .img{
    border-radius: 10px;
  }
  background: #ffffff;
  .grid-item{
    width: 46%;
    // float: left;
    margin: 6px;
    // padding: 4px;
    // height: 300px;
    margin-bottom: 16px;
    .nut-grid-item-text{
      padding-bottom: 14px;
    }
  }
  .user{
    display: flex;
    justify-content: space-between;
  }
  .more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon{
      border-radius: 0 !important;
    }
  }
  .fav{
    width: 40%;
    justify-content: flex-end;
  }
  .user, .fav{
    display: flex;
    align-items: center;
    margin-top: 8px;
    .count{
      font-size: 14px;
      // line-height: 14px;
    }
  }
  .text{
    padding: 10px 4px;
  }
}
