page .youji-new{
  margin-top: 6px;
	--nutui-uploader-image-width: 75px;
	--nutui-uploader-image-height: 75px;
  --nutui-uploader-image-border-radius: 10px;
  background: #F1F3F4;
  .btns{
    padding-bottom: 48px !important;
    margin-top: 32px;
  }
  .btns, .add{
    background: #ffffff;
  }
  .add{
    color: #6195FA;
  }
  .steps{
    background: #ffffff;
    padding: 4px 16px;
    .step{
      padding: 4px 10px;
      border-radius: 10px;
      background: #eff4fe;
      .nut-textarea{
        background: none;
        .nut-textarea-textarea{
          color: #848484;
          height: 18px;
          max-height: 36px;
        }
      }
      >*{
        display: flex;
        align-items: center;
      }
      .date{
        width: 10em;
      }
    }
  }
  .nut-cell-title{
    color: #848484;
  }
  .nut-cell-group-wrap{
    background: none !important;
  }
  .d-block .nut-form-item-label{
    margin-bottom: 16px;
  }
  .nut-form-item-label{
    display: flex !important;
    color: #848484;
    padding-left: 0;
    .required{
      position: relative;
    }
  }
  .label, .date{
    color: #848484;
  }
  .nut-form-item-body{
    .nut-cell{
      padding: 0;
    }
  }
  .form-item{
    border-radius: 0 !important;
    align-items: center !important;
  }
  .btn1, .btn2{
    font-size: 14px;
  }
  .btn1{
    width: 30%;
  }
  .btn2{
    width: 67%;
  }
}
